[submodule "bi-pos-warehouse-management"]
	path = bi-pos-warehouse-management
	url = git@github.com:xmarts/bi-pos-warehouse-management.git
[submodule "partner-routes-map-oin"]
	path = partner-routes-map-oin
	url = git@github.com:xmarts/partner-routes-map-oin.git
[submodule "sale-routes-map-oin"]
	path = sale-routes-map-oin
	url = git@github.com:xmarts/sale-routes-map-oin.git
[submodule "stock-routes-map-oin"]
	path = stock-routes-map-oin
	url = git@github.com:xmarts/stock-routes-map-oin.git
